.post-top {
  margin-bottom: 30px;

  h1 {
    border-bottom: none;
    font-family: 'NanumSquare';
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  p {
    font-family: 'NanumSquare';
    font-size: 14px;
  }
}
